#workspaces
{
    border-radius: 10px 0 0 10px;
    background-color: @surface0;
}

#custom-right_div.1 {
    background-color: @base;
    color: @surface0;
}

#memory,
#cpu
{
    background-color: @base;
}

#custom-right_div.2 {
    background-color: @mantle;
    color: @base;
}

#network
{
   background-color: @mantle; 
}

#custom-right_div.3 {
    color: @mantle;
}

#workspaces,
#cpu,
#memory,
#network
{
    padding: 0 10px;
}

#workspaces button {
    border-radius: 16px;
    padding: 0 10px;
}

