#workspaces
{
    background-color: @crust;
    border-radius: 10px 0 0 10px;
}

#custom-right_div.1 {
    background-color: @mantle;
    color: @crust;
}

#memory,
#cpu
{
    background-color: @mantle;
}

#custom-right_div.2 {
    background-color: @base;
    color: @mantle;
}

#network
{
   background-color: @base; 
}

#custom-right_div.3 {
    color: @base;
}

#workspaces,
#cpu,
#memory,
#network
{
    padding: 0 10px;
}

#workspaces button {
    border-radius: 16px;
    min-width: 16px;
    padding: 0 10px;
}

#workspaces button:hover {
    border-color: transparent;
	color: @base;
}
