#tray,
#bluetooth,
#pulseaudio,
#backlight
{
    padding: 0 10px;
} 

#battery
{
    border-radius: 0 10px 10px 0;
    padding: 0 14px 0 10px;
    background-color: @surface0;
}

#custom-left_div.1 {
    background-color: @base;
    color: @surface0;
}

#backlight {
    background-color: @base;
}

#custom-left_div.2 {
    background-color: @mantle;
    color: @base;
}

#pulseaudio {
    background-color: @mantle;
}

#custom-left_div.3 {
    background-color: shade(@mantle, 0.8);
    color: @mantle;
}

#bluetooth,
#tray 
{
    background-color: shade(@mantle, 0.8);
}

#custom-left_div.4 {
    color: shade(@mantle, 0.8);
}
