#tray,
#bluetooth,
#pulseaudio,
#backlight,
#battery
{
    padding: 0 10px;
} 

#battery
{
    background-color: @crust;
}

#custom-left_div.1 {
    background-color: @mantle;
    color: @crust;
}

#backlight {
    background-color: @mantle;
}

#custom-left_div.2 {
    background-color: @base;
    color: @mantle;
}

#pulseaudio {
    background-color: @base;
}

#custom-left_div.3 {
    background-color: @surface0;
    color: @base;
}

#bluetooth,
#tray 
{
    background-color: @surface0;
}

#custom-left_div.4 {
    color: @surface0;
}

#tray:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover
{
    background-color: @surface1;
}

#battery {
    border-radius: 0 10px 10px 0;
}
