spawn-at-startup "fcitx5"
spawn-at-startup "dbus-update-activation-environment --all"
spawn-at-startup "easyeffects --gapplicaiton-service"
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "udiskie &"
//spawn-at-startup "xwayland-satellite"
spawn-at-startup "qs" "-c" "noctalia-shell"
